#blog {
    .understrap-read-more-link {
        background-color:white;
        color:$primary;
        &:hover {
            background-color:$primary;
            color:white;
        }
    }
    .understrap-read-more-link{
        display:none;
    }
    .post-link {
        color:$grey;
        &:hover {
            text-decoration: underline;
        }
    }
}