
body {
    #logo {
        font-family: 'Anaheim', sans-serif;
        font-size:60pt;
        letter-spacing:5px;
    }
    background-color:white;
    font-family: $mainFont;
    a {
        color:$grey;
        &:hover {
            text-decoration: underline;
            color:$grey;
        }
    }
    ul {
        li {
            list-style-type:none;
        }
    }
    article {
        text-align:center;
    }
}

.frontpage {
    position:absolute; 
    top:50%;
    transform: translate(-50%, -50%);
    margin:0px;
    left:50%;
    @media only screen and (max-height: 409px) {
        transform: translate(-50%, -30%);
    }
}

.frontpage-copy {
    color: $grey;
    h1 {
        font-size: $mainFontsize;
        font-weight:300;
    }
    h2 {
        font-size: $mainFontsize;
        font-weight:300;    
        @media only screen and (max-width: 502px) {
            font-size:30px;
        }
    }
    p {
        font-size:$textFontsize;
        letter-spacing: 2px;
        font-weight:300;
        @media only screen and (max-width: 502px) {
            padding-top:50px;
        }
    }
}

.social-icons a{
    color:$blueColor;
    font-size:30px;
    &:hover {
        color:$grey;
    }
}

.home-links { // nav-menu
    list-style-type:none;
    padding:0;
    text-align:center;
    li {
        display:inline-block;
        padding-right:20px;
        &:last-child {
            padding-right:0px;
        }
        a{
            color:$grey;
            font-size:25px;
            font-weight:300;
            background: none;
            text-decoration: none;
            @media only screen and (max-width: 502px) {
                font-size:15px;
            }
            &:hover {
                color:$blueColor;
                transition: 300ms ease-in;
            } 
            &:before {
                content: '';
                width: 0px;
                height: 1px;
                display: block;
                background: $blueColor;
                transition: 300ms ease-in-out;
            }
            &:hover{
                &:before {
                    width:100%;
                }
            }
            &:visited {
                background-color:red;
            }
        }
    }
}