body {
    .logo {
        font-family: 'Amatic SC', cursive;
        font-size:60pt;
        letter-spacing:5px;
    }
    background-color:white;
    font-family: $mainFont;
    a {
        color:$grey;
        &:hover {
            text-decoration: underline;
            color:$grey;
        }
    }
    ul {
        li {
            list-style-type:none;
        }
    }
    article {
        text-align:center;
    }
}

.frontpage {
    position:absolute; 
    top:50%;
    transform: translate(-50%, -50%);
    margin:0px;
    left:50%;
    @media only screen and (max-height: 409px) {
        transform: translate(-50%, -30%);
    }
}

.frontpage-copy {
    color: $grey;
    h1 {
        font-size: $mainFontsize;
        font-weight:300;
    }
    h2 {
        font-size: $mainFontsize;
        font-weight:300;    
        @media only screen and (max-width: 502px) {
            font-size:30px;
        }
    }
    p {
        font-size:$textFontsize;
        letter-spacing: 2px;
        font-weight:300;
        @media only screen and (max-width: 502px) {
            padding-top:50px;
        }
    }
}

.social-icons a{
    color:$blueColor;
    font-size:30px;
    transition: 300ms ease-in;
    &:hover {
        transition: 300ms ease-in;
        color:$grey;
    }
}

.home-links { // nav-menu
    list-style-type:none;
    padding:0;
    text-align:center;
    .logo {
        font-size:15px;
    }
    li {
        display:inline-block;
        padding-right:20px;
        &:last-child {
            padding-right:0px;
        }
        a{
            color:$grey;
            font-size:25px;
            font-weight:300;
            background: none;
            text-decoration: none;
            transition: 300ms ease-in;
            @media only screen and (max-width: 502px) {
                font-size:15px;
            }
            &:hover {
                color:$blueColor;
                transition: 300ms ease-in;
            } 
            &:after {
                content: '';
                width: 0px;
                height: 1px;
                display: block;
                background: $blueColor;
                transition: 300ms ease-in-out;
            }
            &:hover{
                &:after {
                    width:100%;
                }
            }
            &:visited {
                background-color:red;
            }
        }
    }
}

.post-image {
    position:relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image:
        linear-gradient(to bottom right,rgba(0,0,0,0.38),black);
        opacity:1;
        transition: 400ms ease-in;
    }
}

.post-content {
    @media only screen and (max-width: 502px) {
        padding-left:30px;
        padding-right:30px;
    }
    padding-left:14rem;
    padding-right:14rem;
    img {
        display:block;
    }
}