footer {
    font-family: $mainFont;
    color: $grey;
    position:fixed;
    bottom:0px;
    font-size: $mainFontsize;
    text-align:center;
    background-color:white;
    width:100%;
    ul {
        margin:5px 5px;
        li {
            display:inline-block;
            color:#4C4C4C;
            margin-right:25px;
        }
    }
}