
body {
    background-color:$primary;
    font-family: $mainFont;
}

.frontpage {
    position:absolute; 
    top:50%;
    transform: translate(-50%, -50%);
    margin:0px;
    left:50%;
}

.frontpage-copy {
    
    color: $grey;
    h1 {
        font-size: $mainFontsize;
        font-weight:100;
    }
    h2 {
        font-size: $mainFontsize;
        font-weight:100;    
    }
    p {
        font-size:$textFontsize;
        letter-spacing: 2px;
        font-weight:300;
    }
}

.social-icons a{
    color:$grey;
    font-size:30px;
    &:hover {
        color:white;
    }
}

.home-links {
    list-style-type:none;
    padding:0;
    text-align:center;
    li {
        padding-top:20px;
        &:first-child {
            padding-top:0px;
        }
        a{
            color:$grey;
            font-size:25px;
            font-weight:300;
            background: none;
            &:hover {
                background-color:red;
                transition: background 300ms ease-in 200ms;
            }
        }
    }
}