
body {
    background-color:$primary;
}

.frontpage-copy {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left:50%;
    transform: translateX(-50%);
    margin:0px;
    padding:0px;
    color: $grey;
    h1 {
        font-size: $mainFontsize;
        letter-spacing: 5%;
        font-family: $mainFont;
    }
    p {
        font-family: 'Pontano Sans', sans-serif;
        font-size:24px;
        letter-spacing: 1%;
    }
}